# CMake
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
compile_commands.json
# CMake Doxygen
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

# Documentation
doc/

# Library and binary folders
lib/
bin/

# clangd
.cache/
.clangd/
